<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2 class="alert-heading"><%= pluralize(game.errors.count, "error") %> stopped this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col">
      <div class="form-group">
        <%= form.label :game_name %>
        <%= form.text_field :game_name, class: 'form-control' %>
        <small id="captionHelp" class="form-text text-muted">The name of the game on Steam</small>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="form-group">
        <%= form.label :humble_bundle %>
        <%= form.date_select :humble_bundle, { prompt: true }, { class: 'custom-select'} %>
        <small id="captionHelp" class="form-text text-muted">The monthly Humble Choice bundle</small>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="form-group">
        <%= form.label :steam_appid %>
        <%= form.number_field :steam_appid, class: 'form-control' %>
        <small id="captionHelp" class="form-text text-muted">Enter the unique ID for the game on Steam or select from list - takes priority unless left blank.</small>
        <%= form.select :steam_appid_list, options_for_select(@steam_id_options) %>
      </div>
    </div>
  </div>

  <div class="actions row">
    <div class="col">
      <%= form.submit 'Save my game', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
