<div class="row">
  <div class="col">
    <h1>All games</h1>

    <p class="lead">Please <%= link_to 'update database', new_game_path, id: 'add-game' %></p>
  </div>
</div>

<div class="row">
  <table class="col table">
    <thead>
      <tr>
        <th>Game name</th>
        <th>Month</th>
        <th>Steam ID</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.game_name %></td>
          <td><%= game.humble_bundle %></td>
          <td><%= game.steam_appid %></td>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
