<p>
  <strong>Game name:</strong>
  <%= @game.game_name %>
</p>

<p>
  <strong>Humble bundle:</strong>
  <%= @game.humble_bundle %>
</p>

<p>
  <strong>Steam appid:</strong>
  <%= @game.steam_appid %>
</p>

<p>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Show database', games_path %> |
  <%= link_to 'Show missing Steam IDs', games_path(view_param: 'failed-db') %>
</p>
<p>
  <%= link_to 'Add another game', new_game_path %>
</p>
