<p>
  <strong>Game name:</strong>
  <%= @game.game_name %>
</p>

<p>
  <strong>Humble bundle:</strong>
  <%= @game.humble_bundle %>
</p>

<p>
  <strong>Steam appid:</strong>
  <%= @game.steam_appid %>
</p>

<p>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', show_failed_input_games_path %>
</p>
<p>
  <%= link_to 'Add another game', new_game_path %>
</p>
