<p id="notice"><%= notice %></p>

<p>
  <strong>Steam appid:</strong>
  <%= @game.steam_appid %>
</p>

<p>
  <strong>Game name:</strong>
  <%= @game.game_name %>
</p>

<p>
  <strong>Humble bundle:</strong>
  <%= @game.humble_bundle %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
