<!DOCTYPE html>
<html>
  <head>
    <title>SteamHumble</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="container">
    <%- if notice || alert -%>
    <div class="row">
      <div class="col">
        <%- if notice -%>
        <p class="alert alert-info"><%= notice %></p>
        <%- end -%>
        <%- if alert -%>
        <p class="alert alert-warning"><%= alert %></p>
        <%- end -%>
      </div>
    </div>
    <%- end -%>

    <%= yield %>
  </body>
</html>
